<td class="my-title">
  <p class="title my-font">
    <%= wish.name %>
    <%= wish.level %>
    <%= wish.start_date %>
    <%= wish.end_date %>
  </p>
</td>
<td class="my-operation">
    <button id="edit-wish" class="my-btn my-btn-transparent">Edit Wish</button>
    <button id="search-related" class="my-btn my-btn-transparent">找團</button>
    <%= link_to 'Edit', edit_wish_path(wish) %>
</td>
<hr>
