<td class="my-title">
  <p class="title my-font">
    <p>Name: <%=wish.name %></p>
    <p>Level: <%= wish.level %></p>
    <p>Start Date: <%= wish.start_date %></p>
    <p>End Date: <%= wish.end_date %></p>
    <p>Budget Bottom: <%= wish.budget_bottom %></p>
    <p>Budget Top: <%= wish.budget_top %></p>
  </p>
</td>
<td class="my-operation">
    <button id="get-wish-id" class="my-btn my-btn-transparent">Get Wish id</button>
    <button id="search-related" class="my-btn my-btn-transparent">找團</button>
    <button id="edit-wish" class="my-btn my-btn-transparent"><%= link_to 'Edit', edit_wish_path(wish) %></button>
</td>
<hr>
