    <div class="plan row">
        <div class="wish_info" >
            <h4> <%=wish.name %> </h4>
            <div> <h5><span class="badge badge-success"><%= wish.hiking.name %></span></h5>   </div>
            <div> <span class="badge badge-secondary"><%= howmanydays(wish.numberofday_id) %></span>   </div>
            <div><% if wish.user != current_user %><span class="badge badge-info"><a> <b> <%= wish.user.name %> </b></a></span>  的願望 <%end%></div>
            <div> <%= wish.start_date %> ~ <%= wish.end_date %> </div>
             <% unless wish.hiking.nil? %>

            <% end %>
        </div>
        <div class="wish_info">
            <div> 
                  <span class="badge badge-light"><i class="fas fa-dollar-sign"></i> 預算</span> <%= wish.budget_bottom %> ~ <%= wish.budget_top %>  <br>
                  <span class="badge badge-light">收費模式</span>  <span class="badge badge-info"><%= fee_mode_show(wish.fee_mode) %></span><br>
                  <hr>
                  <span class="badge badge-light">車行模式</span> <span class="badge badge-info"><%= transport_mode_show(wish.transport_mode) %></span> <br>
                  <span class="badge badge-light">餐飲模式</span> <span class="badge badge-info"><%= food_mode_show(wish.food_mode) %></span>             
            </div>
        </div>
        <div class="plan_descript">
                <span class="badge badge-light">備註</span>
                <% if wish.description != nil %>
                    <p><%= wish.description.truncate(600) %></p>  
                <% else %>
                    <p><%= wish.description %></p> 
                <% end %>        
        </div>
        
            <div class="button-group"> 
                <% if wish.user == current_user %>
                    <%= link_to edit_wish_path(wish) do %><button class="btn btn-light"> <i class="fas fa-edit"></i> 修改 </button><% end %>
                    <%= link_to search_wish_path(wish) do %><button class="btn btn-outline-info"> <i class="fas fa-clipboard-list"></i> 相關計畫 </button><% end %>
                    <%= link_to make_plan_wish_path(wish) do %><button class="btn btn-outline-info"> <i class="fas fa-location-arrow"></i> 建立計畫 </button><% end %>
                <% else %>
                    <%= link_to plan_member_apply_path(@plan) do %><button class="btn btn-outline-info"> <i class="fas fa-envelope-open-text"></i> 發送邀請</button><% end %>
                <% end %>
            </div>
        <div class="clearfix"></div>
    </div>


