<div class="form container">

  <div class="col-sm-4 col-md-4">
    <h4><%= @wish.name %></h4>
  </div>

  <div class="col-sm-8 col-md-8">
    <%= form_for  [@wish] do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name , class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :level %>
      <%= f.select :level, ["請選擇難度", 1, 2, 3, 4, 5], class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :start_date %>
      <%= f.date_field :start_date, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :end_date %>
      <%= f.date_field :end_date, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :budget_bottom %>
      <%= f.number_field :budget_bottom, step: 2000, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :budget_top %>
      <%= f.number_field :budget_top, step: 2000, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "description" %>
      <%= f.text_field :description, class: "form-control" %>
    </div>

    <br>
    <%= f.submit %>
    <% end %>
    <button id="delete-wish" class="my-btn my-btn-transparent"><%= link_to 'Delete', wish_path(@wish), method: :delete, data:{ confirm: "Are you sure?" } %></button>
    <br>
  </div>

</div>