<div class="wish_container">

 <%= render partial: 'wish_status', locals: { wish: @wish } %>


  <h4>符合此願望條件的計畫</h4>

  <div class="btn-group" role="group" aria-label="Plan_type">
    <%= link_to "計畫列表", search_wish_path(@wish), class: "btn btn-outline-info" %> 
    <%= link_to "已舉辦", search_wish_path(@wish)+"?type=owned", class: "btn btn-outline-info" %> 
    <%= link_to "申請中", search_wish_path(@wish)+"?type=applied", class: "btn btn-outline-info" %> 
    <%= link_to "已收到邀請", search_wish_path(@wish)+"?type=invited", class: "btn btn-outline-info" %> 

</div>

  <h5 id="seq">排序方式 

  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-light">日期</button>
    <button type="button" class="btn btn-light">狀態</button>
   
  </div>

  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-light">正序</button>
    <button type="button" class="btn btn-light">逆序</button>
  </div>

  </h5>

  <div class="panel panel-info">

    <!-- Plan List -->
    <div class="plan_list">
      <% @plans.each do |plan| %>
         <%= render :partial => "shared/plan_card", :locals => { :plan => plan } %>
      <% end %>
  </div>

</div>