<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-5">使用者願望分佈</h3>
    <p class="lead">來幫大家實現願望吧！</p>
    你想要... <%= link_to '開新的計劃', new_plan_path, class: "btn btn-outline-info" %> <%= link_to ' 看看別人的登山計畫', all_plans_path, class: "btn btn-outline-info" %>  
  </div>
</div>

<div class="row">
  <%= pie_chart wish_hiking_chart(:wish_hiking_top_name), class: "col-sm-4", id: "hiking-chart", width: "400px", height: "400px" , display: "inline-block", type: "line" %>
  <%= pie_chart Wish.group_by_month(:start_date, format: "%b %Y").count, class: "col-sm-4", id: "time-chart", width: "400px", height: "400px", display: "inline-block", type: "line" %>
</div>
<%= column_chart Wish.joins(:hiking).group(:title).group_by_month(:start_date, format: "%b %Y").count, stacked: true,  label: "hiking.name" %>