 <div class="plan">
        <div class="plan_iamge">
            <img src="https://fakeimg.pl/200x150/">
        </div>
        <div class="plan_info">
            <div> <span class="badge badge-info"><%= plan.group_type %></span></div>
            
            <div><%= plan.name %></div>
            <div>  <%= plan.start_date %> ~ <%= plan.end_date %> </div>
            <% unless plan.hiking.nil? %>
            <div>  <span class="badge badge-light"><%= plan.hiking.name %></span> </div>
            <% end %>
            <div> <i class="far fa-calendar-alt"></i><span class="badge badge-light"> 兩天兩夜 <%= plan.day %></span> </div>
            <div> <i class="fas fa-bolt"></i> <span class="badge badge-light"> 中等難度 </span> <%= plan.level %><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
           
           
        </div>
        <div class="plan_descript">
            <div>由 <a> <b> <%= plan.owner.name %> </b></a> 主辦 <% if plan.owner == current_user %>  <span class="badge badge-info">你是主辦人</span> <%end%> </div>
            <div>
                 <span class="badge badge-light"> 收費模式 </span> <span class="badge badge-secondary">  <%= plan.money_type || "未定" %> </span> 
                  <% if plan.budget_final.nil? %>
                      <span class="badge badge-light"><i class="fas fa-dollar-sign"></i>費用</span>  尚未決定 
                      
                      <% unless (plan.budget_bottom.nil? && plan.budget_top.nil?) %>
                      | <span class="badge badge-light">預算</span> <%= plan.budget_bottom %> ~ <%= plan.budget_top %> 
                      <% end %>

                  <% else %>

                    <span class="badge badge-light"> <i class="fas fa-dollar-sign"></i> 費用 </span> 每人 <%= plan.budget_final %> 元 <br>
                    <span class="badge badge-secondary"> 含交通、保險、食宿 </span> 

                  <% end %>
            </div>
            
            <div> 
              <span class="badge badge-light"> 車行模式 </span> 
                  <span class="badge badge-secondary"><%=  plan.car_type||"未定" %></span>  | 

              <span class="badge badge-light"> 餐飲模式 </span>
                  <span class="badge badge-secondary"><%=  plan.food_type||"未定" %></span>
            </div>

            <hr>
            <% if plan.owner == current_user %>
            
                <%= render partial: 'shared/plan_member_list', locals: { plan: plan } %>
           
            <% else %>

              <%= plan.intro %>
                
            <% end %>

        </div>
        <div class="button-group"> 
          <%= link_to plan_path(plan), class: "btn btn-light" do %>  <i class="far fa-eye"></i> 詳情 <%end %>

          <% if plan.user_status(current_user) == "owner" %> 
            <%= link_to edit_plan_path(plan), class: "btn btn-light" do %> <i class="fas fa-edit"></i> 修改  <% end %> 
            <%= link_to prepare_team_plan_path(plan), class: "btn btn-outline-info" do %>  <i class="fas fa-toolbox"></i> 團隊準備 <span class="badge badge-danger">!</span> <% end %> 
          <% end %>

          <% if plan.is_member?(current_user) %>
            <%= link_to prepare_plan_path(plan), class: "btn btn-outline-info" do %>  <i class="fas fa-tshirt"></i> 個人準備 <span class="badge badge-info">ok</span>   <% end %>
          <% else %>
            <% case plan.user_status(current_user)  
                when "owner" %> 
              <% when "applied" %> <button class="btn btn-outline-info"> 申請中，等待審核 </button>
              <% when "invited" %> <%= link_to approval_plan_owner_invite_path(plan.get_invite(current_user)), class: "btn btn-outline-info", method: "post" do %>  接受邀請 <% end %>
              <% else %>   <%= link_to apply_plan_path(plan), class: "btn btn-outline-info", method: "post" do %> <i class="fas fa-location-arrow"></i> 申請加入 <% end %> 
            <% end %>
          <% end %>

         

        </div>
        <div class="clearfix"></div>
</div>