<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-5">登山路線</h3>
    <p class="lead">跟可以去哪裡不太熟悉嗎？按分類、難度瀏覽就對拉</p>
    或者... <%= link_to "新手推薦哪些路線？", cates_newbie_path , class: "btn btn-outline-info" %> <%= link_to ' 想看已經可以加入的登山計畫', all_plans_path, class: "btn btn-outline-info" %>
  </div>
</div>

<h5>排序方式 

<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-light">天數</button>
  <button type="button" class="btn btn-light">難度</button>
 
</div>

<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-light">正序</button>
  <button type="button" class="btn btn-light">逆序</button>
</div>


</h5>

  <% @hikings.each do |hiking| %>
    <div class="plan">
        <div class="plan_iamge">
            <%= image_tag hiking.image, width: "200px", hight: "150px" %>
        </div>
        <div class="plan_info">
            <div> <%= hiking.name %> </div>
            <div> <i class="far fa-calendar-alt"></i><span class="badge badge-light"> <%= hiking.day %> 兩天兩夜 </span> </div>
            <div> <i class="fas fa-bolt"></i>  <%= hiking.level %><span class="badge badge-light"> 中等難度 </span> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            <div> <%= link_to list_cate_path(hiking.cate) do %> <span class="badge badge-light"><%= hiking.cate.name %> </span> <% end %>
                   <% if hiking.day <= 2 %> <%= link_to cates_single_path do %> <span class="badge badge-light">單日行程</span>  <% end %> <% end %> 
                   <% if hiking.day >3 && hiking.day <5 %><%= link_to cates_overnight_path do %>  <span class="badge badge-light">過夜行程</span> <% end %>  <% end %>   
                   <% if hiking.day > 5 %> <%= link_to cates_long_path do %>  <span class="badge badge-light">長程縱走</span>  <% end %> <% end %>   
            </div>
            
        </div>
        <div class="plan_descript">
            <div> 
              <%= hiking.intro %>      
            <hr>
            </div>
            <div>
            <h6>相關路線<span class="badge badge-light">武陵四秀</span><span class="badge badge-light">武陵二秀 - 品田池有 </span></h6>
                
            </div>

        </div>
        <div class="button-group"> 
            <%= link_to hiking_path(hiking), class: "btn btn-light" do %><i class="far fa-eye"></i> 詳情  <% end %>
            <%= link_to add_to_wish_hiking_path(hiking), class: "btn btn-outline-danger", method: "post" do %> <i class="fas fa-heart"></i> 加入願望 <% end %>
            <%= link_to plans_hiking_path(hiking), class: "btn btn-outline-info" do %> <i class="fas fa-location-arrow"></i>   相關計畫 <span class="badge badge-info"> <%= hiking.plans.count %></span> <% end %>          
        </div>
        <div class="clearfix"></div>
    </div>

 <% end %>