<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for [:admin, hiking] do |f| %>
        <div class="form-group">
           <%= f.label :name, "路線名稱" %>
          <%= f.text_field :name, placeholder: "路線名稱", class: "form-control bg-light" %>
        </div>
        
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <%= f.select :level, ["選擇難度", 1, 2, 3, 4, 5, "其他"]%>
          </div>
          <div class="col-md-4 mb-3">
            <%= f.select :day, ["請選擇天數",1, 2, 3, 4, 5, 6, "其他"]%>
          </div>
          <div class="col-md-4 mb-3">
            <%= f.select :miles,["選擇公里數", 5, 10, 15, 20, 25, "其他"] %>
          </div>
        </div>
        
        <div class="form-group">
           <%= f.label :intro, "路線介紹" %>
          <%= f.text_area :intro, placeholder: "有什麼要介紹的嗎....", class: "form-control  bg-light" %>
        </div>
        <div class="form-group">
          <%= f.file_field :image, class: "form-control  bg-light" %>
          <%= image_tag @hiking.image, width: "150px"  if @hiking.image %>
        </div>

        <div class="form-group">
          <%= f.submit class: "btn btn-info" %>
        </div>
      <% end %>
    </div>
  </div>
</div>