
 <%= form_for @plan do |f| %>

<div class="form-group row">
    <div class="col-sm-10">
       <%= f.text_field :name, class: "form-control form-control-lg", placeholder: "計劃名" %>
    </div>
</div>

<div class="form-group row">
  <%= image_tag @plan.image, width: "150px"  if @plan.image %>
</div>

<label>時間區間</label>
<div class="form-group row"> 
   <div class="col-sm-3">
    <%= f.date_field :start_date, class: "form-control", placeholder: "起始時間" %>
   </div>
   到
   <div class="col-sm-3">
   <%= f.date_field :end_date, class: "form-control", placeholder: "起始時間" %>
   </div>
</div>

<label>備註</label>
<%= f.text_area :intro, class: "form-control bg-light" %>


<label>組團方式</label>
<div>
  <div class="form-check form-check-inline">
      <%= f.radio_button :group_type, '未定', class: "form-check-input" %>
      <%= label :group_type, '未定', class: "form-check-label" %>
  </div>
  <div class="form-check form-check-inline">
      <%= f.radio_button :group_type, '自組隊伍', class: "form-check-input" %>
      <%= label :group_type, '自組隊伍', class: "form-check-label" %>
  </div>
  <div class="form-check form-check-inline">
      <%= f.radio_button :group_type, '外包商業隊伍', class: "form-check-input" %>
      <%= label :group_type, '外包商業隊伍', class: "form-check-label" %>
  </div>
</div>

<br>
<label>計畫狀態</label><br>
  <div class="form-check form-check-inline">
      <%= f.radio_button :publish_status, '公開', class: "form-check-input" %>
      <%= label :publish_status, '公開', class: "form-check-label" %>
  </div>
  <div class="form-check form-check-inline">
      <%= f.radio_button :publish_status, '私人', class: "form-check-input" %>
      <%= label :publish_status, '私人', class: "form-check-label" %>
  </div>
  <%= f.submit class: "btn btn-info", value: "存檔" %> 

<hr>
<label>費用預算</label><br>
計費方式 <br>
  <div class="form-check form-check-inline">
      <%= f.radio_button :money_type, '預先收費，不退不捕', class: "form-check-input" %>
      <%= label :money_type, '預先收費，不退不捕', class: "form-check-label" %>
  </div>
  <div class="form-check form-check-inline">
      <%= f.radio_button :money_type, '預先收費，多退少補', class: "form-check-input" %>
      <%= label :money_type, '預先收費，多退少補', class: "form-check-label" %>
  </div>
  <div class="form-check form-check-inline">
      <%= f.radio_button :money_type, '結算後均攤', class: "form-check-input" %>
      <%= label :money_type, '結算後均攤', class: "form-check-label" %>
  </div>

<br><br>
收費包含<br>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">D0住宿</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">交通</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">晚餐</label>
  </div>
    <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">保險</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">未定</label>
  </div>

<br>
預算範圍 <br>
<div class="form-group row"> 
   <div class="col-sm-3">
   <%= f.text_field :budget_bottom, class:"form-control", placeholder:"最低預算" %>
   </div>
   到
   <div class="col-sm-3">
    <%= f.text_field :budget_top, class:"form-control", placeholder:"最高預算" %>
   </div>
   
   <br>
  
</div>

<label>最終預算</label>
<div class="form-group row"> 
<div class="col-sm-3">
  <%= f.text_field :budget_final, class:"form-control", placeholder:"最終預算" %>
</div>
</div>

<hr>
<label>參考路線 <button class="btn btn-light"> 重設為範本預設值 </button></label>
<div>
  武陵二秀 - 桃山喀拉業 兩天兩夜 <button class="btn btn-info"> 更換 </button> <button class="btn btn-light"> 清除 </button>  <br>
 
   <span class="badge badge-light"> 中等難度 </span>  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

<br>
<label>日程表</label>
<%= f.text_area :schedule, class: "form-control bg-light" %>
</div>

<hr>
<label>住宿資訊</label>
<div class="form-group row"> 
   <div class="col-sm-1"> D0 </div>
   <div class="col-sm-3">
   <input class="form-control" type="text" placeholder="住宿地點" value="">
   </div>
</div>

住宿備註
  <textarea class="form-control">
  
  </textarea>
<hr>

<label>交通方式</label>
<div>
  <div class="form-check form-check-inline">
      <%= f.radio_button :car_type, '未定', class: "form-check-input" %>
      <%= label :car_type, '未定', class: "form-check-label" %>
  </div>
  <div class="form-check form-check-inline">
      <%= f.radio_button :car_type, '共乘 油錢分擔', class: "form-check-input" %>
      <%= label :car_type, '共乘 油錢分擔', class: "form-check-label" %>
  </div>
  <div class="form-check form-check-inline">
      <%= f.radio_button :car_type, '包車', class: "form-check-input" %>
      <%= label :car_type, '包車', class: "form-check-label" %>
  </div>
  <div class="form-check form-check-inline">
      <%= f.radio_button :car_type, '大眾運輸', class: "form-check-input" %>
      <%= label :car_type, '大眾運輸', class: "form-check-label" %>
  </div>
</div>

交通備註
<%= f.text_area :car_info, class: "form-control bg-light" %>

<hr>

<label>食</label>
<div>
  <div class="form-check form-check-inline">
      <%= f.radio_button :food_type, '未定', class: "form-check-input" %>
      <%= label :food_type, '未定', class: "form-check-label" %>
  </div>
  <div class="form-check form-check-inline">
      <%= f.radio_button :food_type, '包餐', class: "form-check-input" %>
      <%= label :food_type, '包餐', class: "form-check-label" %>
  </div>
    <div class="form-check form-check-inline">
      <%= f.radio_button :food_type, '公糧公炊 費用分攤', class: "form-check-input" %>
      <%= label :food_type, '公糧公炊 費用分攤', class: "form-check-label" %>
  </div>
    <div class="form-check form-check-inline">
      <%= f.radio_button :food_type, '私糧私炊', class: "form-check-input" %>
      <%= label :food_type, '私糧私炊', class: "form-check-label" %>
  </div>
</div>

食物備註
<%= f.text_area :food_info, class: "form-control bg-light" %>

<hr>

<label>計畫狀態</label><br>
  <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">公開</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">私人</label>
</div>
  <%= f.submit class: "btn btn-info", value: "存檔" %> 
  <button class="btn btn-danger"> 鎖定 </button>

<% end %>

