<div class="container">
  <div class="row">
    <%= form_for @plan do |f| %>
      <div class="form-group">
        <%= f.label :name, "計劃名稱" %>
        <%= f.text_field :name, class: "form-control bg-light" %>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <%= f.label :start_date %>
          <%= f.text_field :start_date %>
        </div>
        <div class="col-md-6 mb-3">
          <%= f.label :end_date %>
          <%= f.text_field :end_date %>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <%= f.select :day, ["請選擇總天數", 1, 2, 3, 4, 5, 6, "其他"] %>
        </div>
        <div class="col-md-4 mb-3">
          <%= f.select :level, ["請選擇難度", 1, 2, 3, 4, 5, 6, "其他"] %>
        </div>
        <div class="col-md-4 mb-3">
          <%= f.select :miles, ["請選擇公里數", 5, 10, 15, 20, 25, 30, "其他"] %>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <%= f.label :budget_top %>
          <%= f.text_field :budget_top %>
        </div>
        <div class="col-md-4 mb-3">
          <%= f.label :budget_bottom %>
          <%= f.text_field :budget_bottom %>
        </div>
        <div class="col-md-4 mb-3">
          <%= f.label :budget_final %>
          <%= f.text_field :budget_final %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :intro %>
        <%= f.text_area :intro, class: "form-control bg-light" %>
      </div>
      <div class="form-group">
        <%= f.file_field :image, class: "form-control  bg-light" %>
        <%= image_tag @plan.image, width: "150px"  if @plan.image %>
      </div>
      
      <div class="form-group">
        <%= f.submit class: "btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>

