            <div class="col-md-3">            
              <%= image_tag @plan.image, width: "200px", hight: "150px" if plan.image? %>
            </div>
            <div class="col-md-3">      
                        
                <div><%= plan.name %> <span class="badge badge-info"><%= plan.group_type %></span></div>
                <div>  <%= plan.start_date %> ~ <%= plan.end_date %> </div>
                <div> <span class="badge badge-light"> 武陵二秀 - 桃山 喀拉葉 </span> </div>
                <div>
                        由 <b> <%= plan.user.name %> </b> 主辦 
                        <% if plan.user == current_user %>  <span class="badge badge-info">你是主辦人</span> <%end%> 
                </div>
                
                <hr>
            
                
            </div>
            <div class="col-md-3">   
                <div> 
                    <i class="far fa-calendar-alt"></i>
                    <span class="badge badge-light"> 兩天兩夜 <%= plan.day %></span> 
                </div>

                <div> 
                    <i class="fas fa-bolt"></i> <span class="badge badge-light"> 中等難度 </span>
                     <%= plan.level %><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                </div>
                <div>
                    <% if plan.budget_final.nil? %>
                        <span class="badge badge-light"><i class="fas fa-dollar-sign"></i>費用 尚未決定</span> <br>
                        
                        <% unless (plan.budget_bottom.nil? && plan.budget_top.nil?) %>
                             預算範圍目前為 <%= plan.budget_bottom %> ~ <%= plan.budget_top %> 
                        <% end %>
                        
                    <% else %>
                        
                        <span class="badge badge-light"> <i class="fas fa-dollar-sign"></i>  費用</span> 
                        每人 <%= plan.budget_final %> 元 
                        <span class="badge badge-secondary"> 含交通、保險、食宿 </span> 
                        
                    <% end %>

                    <span class="badge badge-secondary">  <%= plan.money_type %> </span> 
                </div>
            </div>