 <div class="row">
            <div class="col-md-3">
              <%= image_tag @plan.image, width: "200px", hight: "150px" %>
            </div>
            <div class="col-md-3">      
                        
                <div><%= @plan.name %> <span class="badge badge-info"><%= @plan.group_type %></span></div>
                <div>  <%= @plan.start_date %> ~ <%= @plan.end_date %> <%= link_to "加入google 日曆" , @google_link, target: "_blank", class: "btn btn-info"%></div>
                <div> <span class="badge badge-light"> <%= @plan.hiking.name %> </span> </div>
                <div>
                        由 <b> <%= @plan.owner.name %> </b> 主辦 
                        <% if @plan.owner == current_user %>  <span class="badge badge-info">你是主辦人</span> <%end%> 
                </div>
                
                <hr>
            
                
            </div>
            <div class="col-md-3">   
                <div> 
                    <i class="far fa-calendar-alt"></i>
                    <span class="badge badge-light"> <%= @plan.numberofday.name %></span> 
                </div>

                <div> 
                    <i class="fas fa-bolt"></i> <span class="badge badge-light"> 難度 </span>
                    <%  (0..plan.level-1).each do |i| %>
                        <i class="fas fa-star"></i>
                    <% end %>
                </div>
                <div>
                    <% if @plan.budget_final.nil? %><span class="badge badge-light"><i class="fas fa-dollar-sign"></i>費用 尚未決定</span> 
                        
                        <% unless (@plan.budget_bottom.nil? && @plan.budget_top.nil?) %>
                             預算範圍目前為 <%= @plan.budget_bottom %> ~ <%= @plan.budget_top %> 
                        <% end %>
                        
                    <% else %>
                        
                        <span class="badge badge-light"> <i class="fas fa-dollar-sign"></i>  費用</span> 
                        每人 <%= @plan.budget_final %> 元 
                          
                    <% end %>

                    <span class="badge badge-secondary">  <%= @plan.money_type %> </span> 
                </div>
            </div>
            <div class="col-md-3">   

                <div class="button-group"> 
                    <%= link_to plan_path(plan), class: "btn btn-light" do %>
                      <i class="far fa-eye"></i> 詳情                
                    <% end %>

                  <% if plan.user_status(current_user) == "owner" %> 
                    
                    <% case  plan.lock_status 
                    
                    when "開放報名"%>
                      <%= link_to edit_plan_path(plan), class: "btn btn-light" do %> 
                        <i class="fas fa-edit"></i> 修改  
                      <% end %> 
                    <% else %>
                      <button class="btn btn-light"> 計畫<%= plan.lock_status%> </button>
                    <% end %>

                    <%= link_to prepare_team_plan_path(plan), class: "btn btn-outline-info" do %>  
                      <i class="fas fa-toolbox"></i>  
                      團隊準備 
                      <!-- <span class="badge badge-danger">!</span>  若尚有未完成項目 -->
                        <!-- <span class="badge badge-info">ok</span>  若皆完成 -->
                      <% end %> 
                  <% end %>
                  
                    <% if plan.is_member?(current_user) %>
                      <%= link_to prepare_plan_path(plan), class: "btn btn-outline-info" do %>  
                        <i class="fas fa-tshirt"></i> 個人準備 
                          <!-- <span class="badge badge-danger">!</span>  若尚有未完成項目 -->
                          <!-- <span class="badge badge-info">ok</span>  若皆完成 -->
                      <% end %>
                    <% else %>
                      <% case plan.user_status(current_user)  
                          when "owner" %> 
                        
                        <% when "applied" %>              
                          <button class="btn btn-outline-info"> 申請中，等待審核 </button> <br>
                          <%= link_to "與主辦人聊聊", plan_member_apply_path(plan.get_apply(current_user)), class: "btn btn-info" %> 

                        <% when "invited" %> 
                          <%= link_to approval_plan_owner_invite_path(plan.get_invite(current_user)), 
                                      class: "btn btn-outline-info",
                                      method: "post" do %> 
                                                            接受邀請 
                          <% end %>
                        <% else %>  
                          <%= link_to apply_plan_path(plan), 
                                      class: "btn btn-outline-info",
                                      method: "post" do %> 
                                                            <i class="fas fa-location-arrow"></i> 申請加入 

                        <% end  # when%> 
                      <% end # plan.user_status end%> 
                  <% end #if is_user end %>

                </div>

            </div>
        
</div>