<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-5">登山計畫</h3>
    <p class="lead">你所參與的登山計畫，就快要可以出發摟！</p>
    還是要... <%= link_to '開新的計劃', new_plan_path, class: "btn btn-outline-info" %> <%= link_to ' 看看別人的登山計畫', all_plans_path, class: "btn btn-outline-info" %>
  </div>
</div>
<h4>使用者願望分佈</h4>
<%= pie_chart Wish.top(:hiking_id,10), width: "300px", height: "300px", display: "inline-block" %>
<%= pie_chart Wish.group_by_month(:start_date,  format: "%b %Y").count, width: "400px", height: "400px" %>
<div class="btn-group" role="group" aria-label="Plan_type">
  <%= link_to "已參加", plans_path, class: "btn btn-outline-info" %> 
  <%= link_to "申請中", plans_path+"?type=applied", class: "btn btn-outline-info" %> 
  <%= link_to "收到的邀請", plans_path+"?type=invited", class: "btn btn-outline-info" %> 
</div>

<hr>

<% if @plans.count < 1 %>

  目前沒有任何計劃...

<% else %>

  <h5>排序方式
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-light">日期</button>
      <button type="button" class="btn btn-light">主辦人</button>
      <button type="button" class="btn btn-light">完成度</button>
    </div>

    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-light">正序</button>
      <button type="button" class="btn btn-light">逆序</button>
    </div>
  </h5>


  <% @plans.each do |plan| %>
    <%= render :partial => "shared/plan_card", :locals => { :plan => plan } %>
  <% end %>

<% end %>