<div class="container">

    <%= render partial: 'plan_status', locals: { plan: @plan } %>

    <div class="row">
        
        <div class="col-md-8">
    
                <h4 id="member">隊伍成員</h4>
                <div class="member_list"> <span class="badge badge-light"> 隊員 <%= @plan.members.count %> /7</span><br>
                            <% @plan.members.each do |user| %>
                                <%= user.email %> <br>
                            <% end %>
                            <img src="https://fakeimg.pl/50x50/">

                      <h5>待審核申請</h5>
                           
                            <% @plan.sent_applies.each do |apply|  %>
                                <%= apply.user.email %> <%= link_to "核准", approval_plan_member_apply_path(apply),method: "post", class: "btn btn-info"%><%= link_to "聊聊", plan_member_apply_path(apply), class: "btn btn-light" %> <br>
                            <% end %>

                      <h5>等待回覆邀請 
                            <%= link_to invite_member_plan_path(@plan), class: "btn btn-outline-info" do %> <i class="fas fa-search"></i> 搜尋夥伴 <% end %> 
                      </h5>
                            <% @plan.receive_invites.each do |invite| %>
                                  <%= invite.user.email %> <%= link_to "聊聊", plan_owner_invite_path(invite), class: "btn btn-light" %> <br>
                            <% end %>

                </div> 

              
                

                <h4 id="plan_status">準備狀況</h4>
                <div>
                    <%= form_for @plan, :url => update_prepare_team_plan_path(@plan), :method => "post" do |f| %>
                    入山、入園申請 計費方式 <br>
                        <div class="form-check form-check-inline">
                            <%= f.radio_button :apply_preparation, '未完成', class: "form-check-input" %>
                            <%= label :apply_preparation, '未完成', class: "form-check-label" %>
                        </div>
                        <div class="form-check form-check-inline">
                            <%= f.radio_button :apply_preparation, '處理中', class: "form-check-input" %>
                            <%= label :apply_preparation, '處理中', class: "form-check-label" %>
                        </div>
                        <div class="form-check form-check-inline">
                            <%= f.radio_button :apply_preparation, '已完成', class: "form-check-input" %>
                            <%= label :apply_preparation, '已完成', class: "form-check-label" %>
                        </div>
                    <hr>

                    路況情報查詢 <br>
                        <div class="form-check form-check-inline">
                            <%= f.radio_button :traffic_preparation, '未完成', class: "form-check-input" %>
                            <%= label :traffic_preparation, '未完成', class: "form-check-label" %>
                        </div>
                        <div class="form-check form-check-inline">
                            <%= f.radio_button :traffic_preparation, '處理中', class: "form-check-input" %>
                            <%= label :traffic_preparation, '處理中', class: "form-check-label" %>
                        </div>
                        <div class="form-check form-check-inline">
                            <%= f.radio_button :traffic_preparation, '已完成', class: "form-check-input" %>
                            <%= label :traffic_preparation, '已完成', class: "form-check-label" %>
                        </div>
                        <hr>
                    氣象情報查詢 <br>
                        <div class="form-check form-check-inline">
                            <%= f.radio_button :weather_preparation, '未完成', class: "form-check-input" %>
                            <%= label :weather_preparation, '未完成', class: "form-check-label" %>
                        </div>
                        <div class="form-check form-check-inline">
                            <%= f.radio_button :weather_preparation, '處理中', class: "form-check-input" %>
                            <%= label :weather_preparation, '處理中', class: "form-check-label" %>
                        </div>
                        <div class="form-check form-check-inline">
                            <%= f.radio_button :weather_preparation, '已完成', class: "form-check-input" %>
                            <%= label :weather_preparation, '已完成', class: "form-check-label" %>
                        </div>
                        <hr>
                    公裝準備 <br>
                        <div class="form-check form-check-inline">
                            <%= f.radio_button :gear_preparation, '未完成', class: "form-check-input" %>
                            <%= label :gear_preparation, '未完成', class: "form-check-label" %>
                        </div>
                        <div class="form-check form-check-inline">
                            <%= f.radio_button :gear_preparation, '處理中', class: "form-check-input" %>
                            <%= label :gear_preparation, '處理中', class: "form-check-label" %>
                        </div>
                        <div class="form-check form-check-inline">
                            <%= f.radio_button :gear_preparation, '已完成', class: "form-check-input" %>
                            <%= label :gear_preparation, '已完成', class: "form-check-label" %>
                        </div>
                        <hr>
                     <%= f.submit class: "btn btn-info", value: "存檔" %> 
                    <% end %>
                </div>
                <hr>
                <div>
                    <% case  @plan.lock_status 
                        when "開放報名" %>
                            <%= link_to "鎖定計畫", lock_plan_path(@plan), method: "post", class: "btn btn-danger" %>
                    <%  when "鎖定" %>
                            <%= link_to "計畫完成", compelete_plan_path(@plan), method: "post", class: "btn btn-danger" %>
                    <%  when "完成" %>

                    <% end %>
                </div>
                
        </div>

        <div class="col-md-4">
           <div class="fb-comments" data-href="<%= plan_url(@plan) %>" data-numposts="5"></div>
        </div>
        <div class="clearfix"></div>
    </div>
  
</div>