<div class="container">

    <%= render partial: 'status', locals: { plan: @plan } %>

    <div class="row">
        
        <div class="col-md-8">
    
                <h4 id="member">隊伍成員</h4>
                <div class="member_list"> <span class="badge badge-light"> 隊員 <%= @plan.members.count %> /7</span><br>
                            <% @plan.members.each do |user| %>
                                <%= user.email %> <br>
                            <% end %>
                            <img src="https://fakeimg.pl/50x50/">

                      <h5>待審核申請</h5>
                           
                            <% @plan.sent_applies.each do |apply|  %>
                                <%= apply.user.email %> <%= link_to "核准", approval_plan_member_apply_path(apply),method: "post", class: "btn btn-info"%><%= link_to "聊聊", plan_member_apply_path(apply), class: "btn btn-light" %> <br>
                            <% end %>

                      <h5>等待回覆邀請 <%= link_to "邀請成員", invite_member_plan_path(@plan), class: "btn btn-info" %></h5>
                            <% @plan.receive_invites.each do |invite| %>
                                  <%= invite.user.email %> <%= link_to "聊聊", plan_owner_invite_path(invite), class: "btn btn-light" %> <br>
                            <% end %>

                </div> 

              
                

                <h4 id="plan_status">準備狀況</h4>
                <div>
                    入山、入園申請 <span class="badge badge-success"> 已完成 </span><br>
                    路況情報查詢 <span class="badge badge-success"> 已完成 </span><br>
                    氣象情報查詢 <span class="badge badge-success"> 已完成 </span><br>
                    公裝準備 <span class="badge badge-success"> 已完成 </span><br>

                </div>
                
        </div>

        <div class="col-md-4">
           <div class="fb-comments" data-href="<%= plan_url(@plan) %>" data-numposts="5"></div>
        </div>
        <div class="clearfix"></div>
    </div>
  
</div>