<div class="container">

    <%= render partial: 'plan_status', locals: { plan: @plan } %>

    <div class="row">
        
        <div class="col-md-6">
    
                <h4 id="member">隊伍成員</h4>
                <div class="member_list"> <span class="badge badge-light"> 隊員 6/7</span>  
                            <img src="https://fakeimg.pl/50x50/">
                            <img src="https://fakeimg.pl/50x50/">
                            <img src="https://fakeimg.pl/50x50/">
                            <img src="https://fakeimg.pl/50x50/">
                            <img src="https://fakeimg.pl/50x50/">
                            <img src="https://fakeimg.pl/50x50/">
                </div> 

                <h4 id="status">準備狀況</h4>
                <div>
                    入山、入園申請 <span class="badge badge-success"> 已完成 </span><br>
                    路況情報查詢 <span class="badge badge-success"> 已完成 </span><br>
                    氣象情報查詢 <span class="badge badge-success"> 已完成 </span><br>
                    公裝準備 <span class="badge badge-success"> 已完成 </span><br>

                </div>
                <hr>

                <h4 id="schedule">行程</h4>
                <div>
                    <%= @plan.schedule %>
                </div>
                <hr>

                <h4 id="stay">宿</h4>
                <div></div>
                <hr>



                <h4 id="car">交通</h4>
                <span class="badge badge-secondary"><%= @plan.car_type %></span>  
                <div>  <%= @plan.car_info %></div>
                <hr>



                <h4 id="food">食</h4>
                <span class="badge badge-secondary"><%= @plan.food_type %></span>
                <div><%= @plan.food_info %></div>
                <hr>


                <h4 id="gear">裝備</h4>
                <div></div>      
        
        

        </div>
        <div class="col-md-2">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#member">成員</a></li>
                <li class="list-group-item"><a href="#member">準備狀況</a></li>
                <li class="list-group-item"><a href="#schedule">行程</a></li>
                <li class="list-group-item"><a href="#stay">宿</a></li>
                <li class="list-group-item"><a href="#car">交通</a></li>
                <li class="list-group-item"><a href="#food">食</a></li>
                <li class="list-group-item"><a href="#gear">裝備</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="fb-comments" data-href="<%= plan_url(@plan) %>" data-numposts="5"></div>
        </div>
        <div class="clearfix"></div>
    </div>
  
</div>