<!DOCTYPE html>
<html>
  <head>
    <title>登山許願池</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="fb-root"></div>

  <div id="wrapper">
   
    <div id="quick_wish"> 
       <div class="overlay">

        <nav class="navbar navbar-expand-lg navbar-custom">
         <%= link_to  root_path, class: "navbar-brand" do %>
               <span><%= image_tag ( "lake_white.png"), class: "logo" %> 登山許願池</span>
               <% end %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>


            <!-- Collect the nav links, forms, and other content for toggling -->
            
            <div class="collapse navbar-collapse" id="bs-example-navbar">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item"> <%= link_to hikings_path, :class => "nav-link" do%> 路線 <% end %> </li>
                <% if !user_signed_in?  %>
                  <li class="nav-item"> <%= link_to all_plans_path, class:"nav-link" do%>  計畫 <% end %></li>
                  <%= link_to('登入', new_user_session_path,class:" nav-link") %>
                <% else %>
                 <li class="nav-item"> <%= link_to wishes_path, class:"nav-link" do%> 願望 <% end %></li>
                <li class="nav-item"> <%= link_to plans_path, class:"nav-link" do%>  計畫 <% end %></li>
                 <li class="nav-item"> <%= link_to notifications_path, class:"nav-link" do %> 通知 <% if current_user.unread_notify_nums > 0 %> <span class="badge badge-danger"> <%= current_user.unread_notify_nums %></span>  <% end %> <% end %> </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <%= link_to  edit_user_path(current_user), class:" nav-link" do%>  <i class="far fa-user-circle"></i> 編輯個人資料 <% end %>
                    <hr>
                    <%= link_to root_path, class:" nav-link" do %><i class="fas fa-cog"></i> 修改設定 <% end %>
                    <% if current_user.role == "admin " %>
                      <%= link_to '管理後台', admin_root_path , class:" nav-link"%> 
                    <% end %>
                    <%= link_to('登出', destroy_user_session_path, method: :delete,class:" nav-link") %>
                  </div>
                </li>
                <% end %>
              </ul>
            </div><!-- /.navbar-collapse -->

        </nav>

        <div id="quick_form">
              <% if flash[:notice] %>
                    <div class="container">
                      <div class="row">
                        <div class="alert alert-success alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <%= notice %>
                        </div>
                      </div>
                    </div>
              <% end %>
              <% if flash[:alert] %>
                    <div class="container">
                      <div class="row">
                        <div class="alert alert-danger alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <%= alert %>
                        </div>
                      </div>
                    </div>
              <% end  %> 
          <h3> 來許個願吧! 你想去哪條路線？ </h3>

          <%= form_for @page do |f| %>
            <div class="form-row">
              <div class="form-group col-md-4">
                <%= f.select :id, hiking_select, {}, prompt: '選一條吧' , class: "form-control" %>
              </div>
            </div>
            <div class="form-row">
              
              <div class="form-group col-md-2"> <%= f.date_field :start_date, class: "form-control" %> </div>
              到  <div class="form-group col-md-2"> <%= f.date_field :end_date, class: "form-control" %> </div>
            </div>
            <div class="form-row">
            <%= f.submit "許願", class: "btn btn-info submit" %> 
            </div>
          <% end %>
        </div>
    </div>
    </div>

   <div class="container">
      <%= yield %>
   </div>

   <div id="footer">
   Powered by 登山許願池 2018 | <%= link_to "隱私條款", pages_privacy_path %> <br>
   Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
   </div>

   <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v3.1&appId=469440340241680&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>



